body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-indicators [data-bs-target]{
  background-color: #979797 !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.carousel-indicators .active {
  background-color: #0438a1  !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
#mainu .carousel-indicators .active {
  display: none;
}
#mainu .carousel-indicators{
  display: none;
}
h6 {
  font-size: 18px;
}
h2{
  font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
}

nav .nav-link{
  color: #f4f6ff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    padding: 20px 25px;
    text-transform: capitalize;
   
}
.navbar-light .navbar-nav .nav-link {
  color: #f4f6ff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 20px 25px;
  text-transform: capitalize;
}
nav .nav-link {
  margin-left: 18px; 
   margin-right: 18px;
   color: #f4f6ff; 
}
#main{
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/s1.jpg?v=1613171509);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
  display: inline-block;
  width: 20px;
  height: 22px;
 background-color: #0438a1;
  border: 2px solid #0438a1;
  border-radius: 50%;
  padding: 10px;
 

}
h6{
  font-size: 24px;
    line-height: 1;
    position: relative;
    text-transform: capitalize;
}
h1 {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 15px;
  text-transform: capitalize;
}
p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.menu {
  width: 100%;
  height: auto;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/b1_1.jpg?v=1613171872);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 padding-top: 120px;
 padding-bottom: 120px;
 padding-left: 50px;
 
}
.Contrary {
  margin-top: 10%;
  width: 97%;
  height: 50vh;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/b2.jpg?v=1613171889);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Contrary:hover {
  margin-top: 10%;
  width: 100%;
  height: 50vh;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/b2.jpg?v=1613171889);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popular{
  margin-top: 10%;
  width: 97%;
  height: 50vh;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/b3.jpg?v=1613171890);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.popular:hover{
  margin-top: 10%;
  width: 100%;
  height: 50vh;
  background-image: url(https://ponno-demo.myshopify.com/cdn/shop/files/b3.jpg?v=1613171890);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
.menu  h6 {
  font-size: 1rem;
}
.menu h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: capitalize;
}
.menu p {
  font-size: 16px;
  padding-right: 55px;
}
.literature{
  width: 100%;
 background-color: black;
 color: #f4f6ff;
 height: auto;
 text-align: center;
 padding: 60px;

}
.literature h6{
  font-size: 18px;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
@media(max-width:767px){
  #hero{
    width: 50%;
  }
}
/*-----------*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}
.book {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 40%;
  padding-top: 5%;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}
/*---------------------*/
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}
/*---------------------*/
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%),
    radial-gradient(1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%);
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
 
 
}
.product-box:hover .hover-hide{
  display: none;
}
.product-box .hover-show{
  display: none;
}
.product-box:hover .hover-show{
  display: block;
}
.product-box .wishlist{
  position: absolute;
  top: 15px;
  left: 15px;
  width: fit-content;
}
.product-box .sidebar{
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  background-color: #fff;
  padding: 5px;
}
.product-box:hover .sidebar{
  display: grid;
}